html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 30pt;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 768px;
    width: 1024px;
}

.flex-content {
    /*height: 300px;*/
    width: 50%;
    padding: 32px;
    background: rgba(23, 41, 32, 0.3);
}

h2 {
    font-size: 36pt;
}



.answer-form {
  background: rgba(255,255,255,0.1);
  border: none;
  
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 24pt;

  padding: 8px;
}

.answer-button {
    background: transparent;
    border: 4px solid white;
    color: white;
    font-family: 'Bad Script', cursive;
    font-size: 24pt;
}