<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wedding</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}
    <link href="http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/wedding.css">

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/wedding.js"></script>

    {{content-for 'body-footer'}}
  </body>
</html>
