<audio id="ok" volume="1.0" src="assets/ok.mp3"></audio>
<audio id="wrong" volume="1.0" src="assets/wrong.mp3"></audio>
<audio id="win" volume="1.0" src="assets/win.mp3"></audio>
<div class="flexbox">
    <div class="flex-content">
        <div>
            <h2 id="title">Аня + Саша = ♡</h2>
        </div>
        <div>
            {{outlet}}
        </div>
    </div>
</div>
