<form {{action "send" on="submit"}} >
  <div class='question'>
    {{question}}
  </div>
  {{input value=answer class='answer-form' }}
  <button class='answer-button'>
    <span>Проверить</span>
  </button>
</form>